<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="EmployeeDB_Connection" connectionString="Data Source=WARMACHINEII; Initial Catalog= EmployeeDB; User ID = sa;Password=montreal2020"/>
	</connectionStrings>

</configuration>